{% extends 'base.html' %}
{% block content %}
<h1>Resources</h1>
<table class='table'>
 <tr>
     <th>Title</th>
     <th>Date</th>
     <th>Time</th>
     <th>Location</th>
     <th>Agenda</th>
 </tr>
 {% for meeting in meeting_list %}
   <tr>
       <td><a href="{% url 'meetingdetails' id=meeting.id %}">{{ meeting.meetingtitle }}</a></td>
       <td>{{ meeting.meetingdate }}</td>
       <td>{{ meeting.meetingtime }}</td>
       <td>{{ meeting.meetinglocation }}</td>
       <td>{{ meeting.meetingagenda }}</td>
   </tr>

 {% endfor %}


</table>


{% endblock %}